* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.hero-img {
    width: 450px;
    height: auto;
}

.card-img {
    width: 200px;
    height: auto;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 8px;
    margin-bottom: 32px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.nav-container {
    display: flex;
    gap: 24px;
    color: #F9FAF8;
}

.nav-container li {
    list-style: none;
}

.nav-container a {
    text-decoration: none;
    color: inherit;
    color: #E5E7EB;
}

.hero-container .left-side h1 {
    color: #F9FAF8;
    font-size: 48px;
}

.hero-container .left-side p {
    color: #E5E7EB;
    font-size: 18px;
    width: 500px;
}

.hero-container {
    display: flex;
    justify-content: space-around;
}

.header-hero {
    background-color: #1F2937;
}

.hero-button {
    background-color: #3882F6;
    width: 125px;
    text-align: center;
    padding: 8px;
    border-radius: 10px;
}

.hero-button a {
    color: #F9FAF8;
    text-decoration: none;
    font-size: 18px;
}



